.fond{
    position: absolute;
    width: 75%;
    right: 0;
    left: 0;
    height: 190%;
    z-index: -10;
    margin: auto;
}

.columna1 {
    position: absolute;
    /* float: left; */
    width: 15%;
    left: 19%;
}

.columna2{
    position: absolute;
    right: 45%;
    width: 15%;
}

.columna3{
    position: absolute;
    right: 25%;
    width: 15%;
}

.titulo{
    text-align: center;
    padding-top: 1%;
}

.sub-r{
    text-align: center;
    width: 15%;
    margin-left: 34%;
}

.sub-l{
    text-align: center;
    width: 15%;
    margin-left: 50.5%;
    margin-top: -3.5%;
}

.separador{
    padding-bottom: 2%;
}

.trompeta{
    width: 10%;
    position: absolute;
    left: 24%;
    top: 0%;
}

.trompeta1{
    width: 10%;
    position: absolute;
    right: 25%;
    top: 0%;
}

.s{
    width: 115%;
}

.separadorB{
    position: absolute;
    bottom: -80%;
    left: 22%;
}